#Polars

Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью polars - 1 балл

In [1]:
import pandas as pd
import numpy as np

In [3]:
import polars as pl

In [5]:
train = pl.read_csv("/content/train.csv")

Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл
hint: используйте методы и атрибуты датафрейма: describe(), dtypes, null_count(), mean()...

In [6]:
train.describe()

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ describe   ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [12]:
for i in range(len(train.columns)):
  print(f'{train.columns[i]}: {train.dtypes[i]}')

PassengerId: Int64
Survived: Int64
Pclass: Int64
Name: Utf8
Sex: Utf8
Age: Float64
SibSp: Int64
Parch: Int64
Ticket: Utf8
Fare: Float64
Cabin: Utf8
Embarked: Utf8

In [15]:
train.null_count()

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [16]:
train.mean()

shape: (1, 12)
┌─────────────┬──────────┬──────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass   ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64      ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪══════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ null ┆ … ┆ null   ┆ 32.204208 ┆ null  ┆ null     │
└─────────────┴──────────┴──────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

In [18]:
train.shape

(891, 12)

Посчитайте количество пассажиров каждого класса (Pclass) - 1 балл
hint: используйте методы: get_column(), value_counts()...

In [20]:
train['Pclass'].value_counts()

shape: (3, 2)
┌────────┬───────┐
│ Pclass ┆ count │
│ ---    ┆ ---   │
│ i64    ┆ u32   │
╞════════╪═══════╡
│ 1      ┆ 216   │
│ 3      ┆ 491   │
│ 2      ┆ 184   │
└────────┴───────┘

In [26]:
train.group_by('Pclass').count()

shape: (3, 2)
┌────────┬───────┐
│ Pclass ┆ count │
│ ---    ┆ ---   │
│ i64    ┆ u32   │
╞════════╪═══════╡
│ 1      ┆ 216   │
│ 3      ┆ 491   │
│ 2      ┆ 184   │
└────────┴───────┘

Выведите количество выживших мужчин и женщин на корабле - 1 балл
hint: используйте методы: groupby(), agg(), pl.col(), sum()...

1 способ:

In [33]:
train.filter(pl.col('Survived') == 1).group_by('Sex').count()

shape: (2, 2)
┌────────┬───────┐
│ Sex    ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ female ┆ 233   │
│ male   ┆ 109   │
└────────┴───────┘

2 способ:

In [41]:
train.filter(pl.col('Sex') == 'female').sum()['Survived']

shape: (1,)
Series: 'Survived' [i64]
[
	233
]

In [42]:
train.filter(pl.col('Sex') == 'male').sum()['Survived']

shape: (1,)
Series: 'Survived' [i64]
[
	109
]

Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл
hint: используйте методы: filter(), pl.col()...

In [43]:
train.filter(pl.col('Age') > 44)

shape: (115, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome)        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs.      ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│             ┆          ┆        ┆ Frederick Joel   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Marg…           ┆   ┆            ┆         ┆       ┆          │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs.   ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│             ┆          ┆        ┆ Richard Leonard  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (…               ┆   ┆            ┆         ┆       ┆          │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Victor       ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Ale…             ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

#Ускорение работы с pandas

Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью pandas

In [44]:
train_pd = pd.read_csv("/content/train.csv")

Посчитайте средний возраст пассажиров и его стандартное отклонение с помощью bottleneck - 1 бал
hint: используйте методы: bn.nanmean(), bn.nanstd()

In [45]:
%%capture

!pip install bottleneck

In [46]:
import bottleneck as bn

In [47]:
bn.bench()

Bottleneck performance benchmark
    Bottleneck 1.3.8; Numpy 1.25.2
    Speed is NumPy time divided by Bottleneck time
    NaN means approx one-fifth NaNs; float64 used

              no NaN     no NaN      NaN       no NaN      NaN
               (100,)  (1000,1000)(1000,1000)(1000,1000)(1000,1000)
               axis=0     axis=0     axis=0     axis=1     axis=1
nansum         24.0        1.2        1.7        1.7        2.3
nanmean        84.0        1.8        2.2        2.7        2.6
nanstd        220.6        1.7        1.9        2.1        2.0
nanvar        236.3        2.0        2.5        2.2        2.4
nanmin         20.1        0.3        0.3        0.3        0.4
nanmax         19.5        0.3        0.3        0.3        0.5
median         72.2        1.2        4.7        1.2        6.3
nanmedian      71.0        3.5        2.8        2.9        3.8
ss              8.1        0.9        0.8        1.4        1.2
nanargmin      71.3        3.4        5.5        1.1        6.2
nanargmax      36.6        3.0        6.5        1.7        8.7
anynan         10.0        0.2       32.7        0.6       37.0
allnan         13.3      124.7       92.2       98.4       71.7
rankdata       41.0        1.8        1.7        1.9        2.0
nanrankdata    43.8        1.9        1.7        2.1        2.1
partition       4.2        0.8        1.4        1.1        1.5
argpartition    2.4        0.9        1.2        1.0        1.5
replace         8.7        2.0        2.0        1.7        2.1
push         1921.3        6.5        8.9       12.7       10.7
move_sum     2173.9       54.9      120.6      238.7      225.0
move_mean    8030.2       89.4      153.6      315.9      267.2
move_std    11367.6      124.7      227.7      252.8      395.8
move_var    11656.3      118.5      216.7      319.3      424.6
move_min      894.7        6.1        6.6       13.4       17.3
move_max     1022.2        6.9        6.7       16.2       19.2
move_argmin  1972.2       33.7       74.1       28.4       89.1
move_argmax  2183.4       31.4       79.3       58.1       93.0
move_median  1423.7      185.4      191.6      184.1      191.9
move_rank     606.5        1.3        1.1        1.9        1.6

In [48]:
bn.nanmean(train_pd['Age'])

29.69911764705882

In [49]:
bn.nanstd(train_pd['Age'])

14.516321150817317

Для каждого пассажира умножьте значение столбца Fare на 1.3 и сохраните результаты как новый столбец Fare_new - 1 балл
hint: используйте методы: .itertuples() или apply()

In [51]:
%%timeit

train_pd['Fare_new'] = train_pd['Fare'].apply(lambda x: x * 1.3)

784 µs ± 73.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [53]:
%%timeit

train_pd['Fare_new'] = [row['Fare'] * 1.3 for _, row in train_pd.iterrows()]

50.4 ms ± 1.49 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [54]:
train_pd[['Fare', 'Fare_new']]

        Fare  Fare_new
0     7.2500   9.42500
1    71.2833  92.66829
2     7.9250  10.30250
3    53.1000  69.03000
4     8.0500  10.46500
..       ...       ...
886  13.0000  16.90000
887  30.0000  39.00000
888  23.4500  30.48500
889  30.0000  39.00000
890   7.7500  10.07500

[891 rows x 2 columns]

#Оптимизация типов pandas

1. Считайте датасет из файла Housing.csv (это данные о ценах домов) с помощью pandas

In [69]:
houses = pd.read_csv('/content/Housing.csv')

2. Для каждого столбца определите оптимальный с точки зрения потребления памяти тип данных - напишите свои выводы в комментариях - 2 балла

In [70]:
houses.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

3. Поменяйте типы данных столбцов датафрейма на выбранные вами в прошлом пункте и сравните потребление памяти до и после оптимизации - 1 балл

In [71]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

memory usage: 55.5+ KB

In [72]:
houses = houses.fillna(0)
houses['price'] = houses['price'].astype(np.uint32) #максимальная цена 13300000.0, минимальная > 0
houses['area'] = houses['area'].astype(np.uint16) #максимальная площадь 16200, минимальная > 0
houses['bedrooms'] = houses['bedrooms'].astype(np.uint8) #максимальное - 6, минимальная > 0
houses['bathrooms'] = houses['bathrooms'].astype(np.uint8) #максимальное - 4, минимальная > 0
houses['stories'] = houses['stories'].astype(np.uint8) #максимальное - 4, минимальная > 0
houses['parking'] = houses['parking'].astype(np.uint8) #максимальное - 3, минимальная > 0

In [75]:
# приведем все к категориальным значениям, так как значения повторяются

houses['mainroad'] = houses['mainroad'].astype("category")
houses['guestroom'] = houses['guestroom'].astype("category")
houses['basement'] = houses['basement'].astype("category")
houses['hotwaterheating'] = houses['hotwaterheating'].astype("category")
houses['airconditioning'] = houses['airconditioning'].astype("category")
houses['prefarea'] = houses['prefarea'].astype("category")
houses['furnishingstatus'] = houses['furnishingstatus'].astype("category")

In [74]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    uint32
 1   area              545 non-null    uint16
 2   bedrooms          545 non-null    uint8
 3   bathrooms         545 non-null    uint8
 4   stories           545 non-null    uint8
 5   mainroad          545 non-null    category
 6   guestroom         545 non-null    category
 7   basement          545 non-null    category
 8   hotwaterheating   545 non-null    category
 9   airconditioning   545 non-null    category
 10  parking           545 non-null    uint8
 11  prefarea          545 non-null    category
 12  furnishingstatus  545 non-null    category
dtypes: category(7), uint16(1), uint32(1), uint8(4)
memory usage: 10.0 KB

memory usage: 10.0 KB, стало меньше > чем в 5 раз